@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.header {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.logo {
    display: flex;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 16px;
}

ul {
    list-style-type: none;
}